{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>A-<b>News</b>-Ment</h1>
    <p>Lookup a keyword in Spanish or English and we will give you a set of graphs, so you can visualize sentiment about the keyword in news articles as it relates to stock or currency indices. Do you see any relationship?"</p><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
    <form action="\results\" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <a href="{%url 'results' %}"><input type="submit" value="Submit" /></a>
    </form>
</div>
{% endblock %}