{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>A<b>News</b>Ment</h1>
    <p>Lookup a keyword in Spanish or English and we will give you a simple graphic that graphs sentiment about the keyword in news articles and stock or currency indices to help you vizualize a possible relationship!"</p><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" href={%url 'results' %}/>
    </form>
</div>
{% endblock %}